*{
	padding: 0;
	margin: 0;
}


body{
	font: normal 14px/20px Arial, Helvetica, sans-serif;
}

.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.centr{
	text-align:center;
}

.filter-form{
	margin-bottom:20px;
}

.product_tabl_el{
	min-height: 380px;
	max-height: 380px;
}

.product_tabl_el img{
	height: 250px;
}
/**********gallery*************/
#main_img{
	margin-top:30px;
}

#main_img img{
	max-height:300px;
	min-height:300px;
}

.miniature {
	float:left;
	margin-right:20px;
	margin-bottom:5px;
	
}

.miniature img{
	height:100px;
	max-width:100px;
}

.none{
	display:none;
}

.block{
	display:block;
}

.active{
  display:block;
  margin:0 auto;
}

#left_cur, #right_cur
{
	color:red;
	cursor:pointer;
}

#left_cur{
	position:relative;
	top: -170px;
	float:left;
}

#right_cur{
	position:relative;
	top: -170px;
	float:right;
}

#cursors{
	height:30px;
}

.visbl{
	opacity:1;
}

.notvisbl{
	opacity: 0.5;
}

/*add_to_bag_page*/
.add_bag_page{
	margin-top:20px;
}

#add_bag_btn{
	width: 100%;
	background-color : black;
	color: white;
}

.product{
	margin-top:50px;
	margin-left:20px;
}

#title{
	font-size:17px;
	font-weight:bold;
	margin-bottom:30px;
}

#description{
	font-size:13px;
}

#price{
	font-size:19px;
	font-weight:bold;
	margin:30px 0;
	text-align:center;
}

a.black{
	color:black;
	text-decoration:none;
	display:block;
	margin-top: 50px;
	font-size: 14px;
	font-weight:bold;
}

#err{
margin-top: 10px;
text-align:center;
color: red;

}